@tailwind base;
@tailwind components;
@tailwind utilities;

/* Font size */

/* font-family: 'Be Vietnam Pro', sans-serif;
font-family: 'IBM Plex Sans', sans-serif;
font-family: 'Montaga', serif;
font-family: 'Poppins', sans-serif;
font-family: 'Roboto', sans-serif;
font-family: 'Slabo 13px', serif;
font-family: 'Slabo 27px', serif; */